#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 10px 25px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes highSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: #d1b6e1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: highSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
  color: rgba(0, 0, 0, 0.3);
}
