.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 600;
}

.welcome-header__title i {
  color: #519d9e;
}

.welcome-header__text {
  width: 55%;
  opacity: 50%;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  border: none;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input[type="submit"] {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

a {
  text-align: center;
}
